*{
    font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;

}
:root{
   
    --primary-color:#f8f9fa;
    --secondary-color:#343a40;
    --third-color: #ffc107;
    --fourth-color:#28a745;

}
.dark-theme{
    --primary-color:#343a40;
    --secondary-color:#007bff;
}
.header2{
    text-decoration: none;
    border-radius: 8px;
}
.dark{
    background-color: var(--primary-color);
}
.navlink{
    text-decoration-color: var(--secondary-color);
}
#icon{
    width:20px;
     height:20px;
     cursor:pointer;
}
.yellow1{
    border-left: 3px solid var(--third-color);
}
.blue1{
    border-left:3px solid var(--secondary-color) ;
}
.green1{
    border-left: 3px solid var(--fourth-color);
}
.link11{
    text-decoration: none;
    color: var(--secondary-color);
 }
.link22{ 
 color:var(--secondary-color); 
 }